* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    display: inline-block;
    font-family: sans-serif;
}

.first-buttons {
    margin: 40px 200px;

}

.add-task {
    margin-right: 5px;
    background-color: rgb(20, 170, 245);
    border-radius: 18%;
    color: white;
    width: 70px;
    border-collapse: collapse;
}

.add-section {
    border-radius: 18%;
    width: 100px;
}

.main {
    margin: 20px;
}

.section-content {
    display: inline-block;
    margin: 10px;
}

.green-check {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid green;
    color: green;
}

.red-x {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid red;
    color: red;

}


.editorial {
    background-color: rgb(20, 170, 245);
    border-radius: 30%;
    color: white;
}

.q1-goals {
    background-color: rgb(171, 93, 230);
    border-radius: 30%;
    color: white;
}

.Recruiting {
    background-color: rgb(44, 198, 171);
    border-radius: 30%;
    color: white;
}

.Mobile {
    background-color: rgb(255, 155, 0);
    border-radius: 30%;
    color: white;
}

.website {
    background-color: rgb(236, 74, 157);
    border-radius: 30%;
    color: white;
}

.Sales {
    background-color: rgb(163, 209, 22);
    border-radius: 30%;
    color: white;
}