* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    display: inline-block;
    font-family: sans-serif;
}

.add-task {
    margin: 100px;

}

.add-section {
    margin: 40px;
}