* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    display: inline-block;
    font-family: sans-serif;
}

.first-buttons {
    margin: 40px 200px;

}

.add-task {
    margin-right: 5px;
    background-color: rgb(20, 170, 245);
    border-radius: 18%;
    color: white;
    width: 70px;
    border-collapse: collapse;
}

.add-section {
    border-radius: 18%;
    width: 100px;
}

.main {
    margin: 20px;
}

.section-content {
    display: inline-block;
    margin: 10px;
}

.editorial {
    background-color: rgb(20, 170, 245);
    border-radius: 30%;
    color: white;
}

.q1-goals {
    background-color: rgb(171, 93, 230);
}